.users {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #dbdbdb;

  height: 50px;

  &:first-child {
    border-top: 1px solid #dbdbdb;
  }

  span {
    font-size: 18px;

    &:first-child {
      margin: 0 40px 0 20px;
    }
  }

  button {
    margin-right: 20px;
    width: 70px;
    height: 40px;

    font-size: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  .tasks {
    background-color: #38c172;
  }

  .edit {
    background-color: #feec4a;
    color: #303b3e;
  }

  .delete {
    background-color: #e3342f;
  }
}

.delete_user {
  padding: 20px;
  max-width: 400px;

  .delete_question {
    margin-bottom: 50px;
  }

  .delete_cancel {
    background-color: #6c757d;
  }

  .delete_yes {
    background-color: #3490dc;
  }

  button {
    margin-right: 20px;
    width: 70px;
    height: 40px;

    font-size: 16px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.button_active {
  background-color: #3490dc;
  margin-top: 57px;
}

.button_disable {
  background-color: #8dbbe0;
  margin-top: 57px;
  cursor: auto;
}