.header {
  // grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
  height: 80px;
  
  background-color: rgb(247, 247, 247);
  border-bottom: 1px solid rgb(219, 219, 219);

  button {
    width: 100px;
    height: 44px;

    font-size: 16px;

    background-color: #3490dc;

    a {
      text-decoration: none;
    }
  }
}