body {
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.App-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-areas: 'header header header'
                       'navbar content content';
  font-family: sans-serif;
}

.App-header {
  grid-area: header;
  height: 100px;
  background-color: rgb(181, 220, 255);
  padding: 20px 0 0 20px;
}

.App-navbar {
  grid-area: navbar;
  background-color: rgb(208, 255, 208);

  height: calc(100vh - 140px);
  padding: 20px 0 0 20px;

  display: flex;
  flex-direction: column;
}

.App-navbar a {
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
}

.App-content {
  grid-area: content;
  background-color: rgb(255, 255, 176);
  padding: 20px 0 0 20px;
}

.App-not-found {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App-not-found-num {
  font-size: 50px;
}